<div id="<%= dom_id micropost %>">


  <li>
    <%= micropost.content %>
    Posted <%= (micropost.created_at) %>
    </li>

  <p>
    <strong>User:</strong>
    <%= micropost.user_id %>
  </p>

</div>
